.parent-meetingdesc {
    display: flex;
    justify-content: space-between;
}

.parent-meetingdesc .child-meetingdesc {
    display: flex;
    justify-content: space-around;
}

.react-bootstrap-table table {
    table-layout: auto;
}

.c1-signup-button {
    margin-top: 25%;
}