/****
 Used for both navigation bar at top and footer
 ****/

 .main {
    background: #001629;
}

.navbar, .navbar-default {
  color: white !important;
}


.nav-link {
  color: white ;
}

.nav-link:hover {
    color: #338AFC;
}
