.rsvp-button {
    display: flex;
    align-self: flex-end;
}

.event-type {
    float: right;
    /* margin-left: 4%; */
}

a {
    text-decoration: none;
}

.event-button-container {
    display: flex;
    justify-content: space-between;
}