.main-navbar {
    background: #000001;
}
/* 
.navbar-light .navbar-toggler {
    color: azure;
    border-color: azure;
} */

.navbar-light .navbar-toggler-icon{
    background-image: url("https://icon-library.net/images/three-bars-icon/three-bars-icon-6.jpg");
}

.navbar-light .navbar-nav .nav-link {
    color: #338AFC;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #D1FFFC;
}

.dsgt-button {
    background-color: #338AFC !important;
    border-color: #338AFC !important;
}